.content_container {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    padding: 0 20px;
    transition: all .2s ease;
} 

.content_container.content_container_max {
    max-width: 100% !important;
}