.pages_counter {
  margin-top: 50px;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages_counter span {
  opacity: 0.6;
  cursor: pointer;
  padding: 2px 5px;
  transition: all 0.2s ease;
  border-radius: 2px;
  font-size: 12px;
}

.pages_counter span:hover {
  opacity: 1;
  background: rgba(255 255 255 / 0.1);
}

.selected_page {
  opacity: 1 !important;
  padding: 2px 20px !important;
  background: rgba(255 255 255 / 0.1);
  border-radius: 30px !important;
  margin: 0 5px;
}

.pages_counter button {
  opacity: 0.4;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 2px;
  pointer-events: none;
}

.pages_counter button:hover {
  background: rgba(255 255 255 / 0.1);
}

.btn_activated {
  opacity: 1 !important;
  pointer-events: initial !important;
}
