.avatar_wrap {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    overflow: hidden;
    margin-top: -45px;
    position: relative;
    z-index: 10;
}

.avatar_wrap img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.status_section > * {
    letter-spacing: 0;
    padding: 5px 0;
}

.status_input {
    display: block;
    color: #2f3437;
    background: #d4d4d4;
    padding: 5px 10px;
    width: 50%;
    border-radius: 2px;
}   

.status_text {
    cursor: pointer;
    width: max-content;
}

.profile_desc h2 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 35px;
    text-transform: capitalize;
}

.cover_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25vh;
    /* ! */
    filter: brightness(.6);
    /* ! */
}

.social_media {
    margin-top: 30px;
    display: flex;
    margin-left: -3px;
    max-width: max-content;
}

.social_media a {
    font-size: 16px;
    padding: 3px;
    transition: all .2s ease;
    cursor: pointer;
}

.social_media {
    transition: all .2s ease;
}

.social_media:hover > * {
    opacity: .6;
}

.social_media a:hover {
    opacity: 1 !important;
}

.avatar_jobStatus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.avatar_jobStatus span {
    font-size: 35px;
    transition: all .2s ease;
    opacity: .9;
    cursor: help;
}

.avatar_jobStatus span:hover {
    opacity: 1;
}

.looking_job {
    color: #22bb45;
}

.dont_looking_job {
    color: #c23b22;
}   