.bg_rotation {
    position: relative;
}

.bg_rotation * {
    position: relative;
    z-index: 15;
}

.bg_rotation:before {
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #28563a;
    position: absolute;
    z-index: 5;
    animation: hue_rotate 15s infinite linear;
}

.bg_rotation:after {
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    background: linear-gradient(rgba(43, 47, 50, 1), rgba(43, 47, 50, 0));
    /* background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)); */
}

@keyframes hue_rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.login_wrap {
    height: calc(100vh - 50px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_form {
    background: rgba(0, 0, 0, .3);
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px 40px;
    transition: all .2s ease;
}

.login_form:hover {
    background: rgba(0, 0, 0, .5);
}

.login_form:hover .icon_wrap {
    animation: wiggle 1s 2 ease;
}

.login_form h3 {
    font-size: 22px;
}

.form_input {
    margin-bottom: 15px;
}

.form_input input {
    width: 250px !important;
}

.login_btn {
    margin: 30px 0 35px;
    color: #d4d4d4;
    border: 2px solid #d4d4d4;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease;
    padding: 0 35px;
    height: 37px;
    background: #28563a;
}

.login_btn:hover {
    color: #202324;
    background-color: #d4d4d4;
}

.login_btn:focus {
    background: #1e2123;
}

.login_btn:focus:hover {
    color: #d4d4d4;
}

.icon_wrap {
    font-size: 45px;
    opacity: .7;
    margin: 20px 0 35px;
    cursor: default;
}

.login_variants {
    font-size: 10px;
    opacity: .8;
    font-weight: 300;
}

.media_btns {
    margin-top: 5px;
    transition: all .2s ease;
}

.media_btns:hover button {
    opacity: .6;
}

.media_btns button {
    background: none;
    border: none;
    color: #d4d4d4;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
    transition: all .2s ease;
}

.media_btns button:hover {
    opacity: 1 !important;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(10deg);
    }

    95% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.signup_btn {
    background: none;
    border: none;
    color: #d4d4d4;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
    transition: all .2s ease;
    opacity: .8;
    padding: 3px 6px;
    border-radius: 2px;
}

.signup_btn:hover {
    background: rgba(255 255 255 / .1);
}

.remember_me_wrap {
    width: 250px;
}

.remember_me {
    display: flex;
    align-items: center;
    width: max-content;
}

.remember_me label {
    padding-left: 10px;
    cursor: pointer;
    opacity: .8;
    font-size: 12px;
}

/* Captcha Styles */

.captcha_block {
    position: fixed;
    width: 100%;
    max-width: 300px;
    background: rgba(0, 0, 0, .8);
    top: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slideUp .3s 1 ease forwards;
    border-radius: 0 0 2px 2px;
}

.captcha_input {
    margin-top: 15px;
    width: 100%;
}

.captcha_input input {
    text-align: center;
}

@keyframes slideUp {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Captcha Styles */

